[phases.setup]
nixPkgs = ["python39", "chromium", "chromedriver"]

[phases.install]
cmds = [
  "cd backend",
  "python3 -m ensurepip --upgrade",
  "python3 -m pip install --upgrade pip",
  "python3 -m pip install -r requirements.txt"
]

[phases.build]
cmds = []

[start]
cmd = "cd backend && python3 manage.py migrate && gunicorn backend.wsgi:application --bind 0.0.0.0:$PORT"

